@{
  Layout = "_Layout";
}

@model PlacesToEat.Models.Cuisine
@using PlacesToEat.Models

<h2>Cuisine Details</h2>
<hr/>
<h3>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)</h3>

@if (@Model.Restaurants.Count == 0)
{
  <h3>No restaurants have been added to this cuisine yet!</h3>
}
else
{
  <h3>Cuisines:</h3>
  <ul>
    @foreach (Restaurant restaurant in Model.Restaurants)
    {
      <li>@Html.ActionLink($"{restaurant.Name}", "Details", "Restaurants",new { id = restaurant.Id })</li>
    }
  </ul>
}

<p>@Html.ActionLink("Edit Cuisine", "Edit", new {id = Model.CuisineId})</p>